/* Selecting class */
.color-red{
    color: red;
}

.background-yellow{
    background-color: yellow;
}

.color-red.background-yellow{
    font-weight: bold;
}

div.background-yellow{
    font-size: x-large;
}